/* === about-us-block === */
@import "base";
.about-us-block {
	position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 0;
    color: @color-gray;

}