/* === about-us-block === */
@import "base";
.about-us-block {
	position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 0;
    & p{
    	font-size: 14px;
	    font-family: Roboto,Helvetica,Arial,sans-serif;
	    line-height: 22px;
    }
    & h2{
    	position: relative;
	    color: #303030;
	    font-size: 28px;
	    font-weight: 700;
	    text-transform: uppercase;
    	font-family: "Roboto","Helvetica","Arial",sans-serif;
    	margin: 24px 0;
    }
    & h2:before{
	    background: #2196F3;
	    width: 50px;
	    position: absolute;
	    bottom: -10px;
	    height: 2px;
	    left: 50%;
	    margin-left: -25px;
	    content: " ";
	  
    }

}