/* === member-team-block === */

.mdl-button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

.member-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 330px;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}
.mdl-button__ripple-container{
	
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}


.member-team-block {
	color: #737373;
    position: relative;
    padding: 60px 0 100px;
    background-color: #fff;
	& .slider-member-content{
	    opacity: 1;
    	display: block;
    	& .teambox{
    		padding-left: 15px;
		    padding-right: 15px;
		    padding-bottom: 3px;
		    .mdl-shadow--2dp {
			    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
			}
		    & .member-box{
		    	min-height: 0;
    			width: auto;
    			

    			& .member-card__supporting-text{
    				padding: 0 15px;
    				width: 100%;
    				color: rgba(0,0,0,.54);
				    font-size: 1rem;
				    line-height: 18px;
				    overflow: hidden;
    			}
    			& .member-card__menu{
    			    position: absolute;
    				left: 0;
				    width: 100%;
				    right: auto;
				    top: 0;
				    & button.mdl-button {
				    	float: right;
					    color: #fff;
					    -webkit-transform: rotate(-90deg);
					    -ms-transform: rotate(-90deg);
					    transform: rotate(-90deg);
					    position: relative;
					    & i{
					    	display: block;
						    position: absolute;
						    left: 7px;
						    top: -5px;
						    font-size: 22px;
						    font-style: normal;
						    font-weight: 500;
					    }
					    & .mdl-button__ripple-container{
					    	border-radius:50%;
					    	-webkit-mask-image: -webkit-radial-gradient(circle,white,black);
					    }
				    }
				    & .mem-button--icon {
					    border-radius: 50%;
					    font-size: 24px;
					    height: 32px;
					    margin-left: 0;
					    margin-right: 0;
					    min-width: 32px;
					    width: 32px;
					    padding: 0;
					    overflow: hidden;
					    color: inherit;
					    line-height: normal;
					    &.mdl-button__ripple-container {
						    border-radius: 50%;
						    -webkit-mask-image: -webkit-radial-gradient(circle,white,black);
						}
					}
    			}
		    }
		    & h2{
		    	font-size: 18px;
			    font-weight: 500;
			    color: #303030;
			    line-height: 18px;
			    margin-top: 15px;
			    margin-bottom: 8px;
			    text-transform: uppercase;
			    -webkit-transition: .25s;
			    transition: .25s;
		    }
		    & h4 {
		    	font-size: 14px;
			    margin-top: 0;
			    padding: 0;
			    line-height: 14px;
			    color: #737373;
		    }
		    & .owl-controls {
			    text-align: center;
			    margin-top: 70px;
			}
    	}
    	& .member-card__title-text{
    	    display: block;
    		-webkit-align-self: flex-end;
		    -ms-flex-item-align: end;
		    align-self: flex-end;
		    color: inherit;
		    font-size: 24px;
		    font-weight: 300;
		    overflow: hidden;
		    -webkit-transform-origin: 149px 48px;
		    transform-origin: 149px 48px;
		    margin: 0;
		    & img {
		    	width:100%;
		    }
    	}
	}
	& .mdl-ripple{
		background: #000;
	    border-radius: 50%;
	    height: 50px;
	    left: 0;
	    opacity: 0;
	    pointer-events: none;
	    position: absolute;
	    top: 0;
	    -webkit-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%);
	    width: 50px;
	    overflow: hidden;
	}
	& .owl-controls {
	    text-align: center;
	    margin-top: 70px;
	    & .owl-page {
		    width: 14px;
		    height: 14px;
		    border-radius: 50%;
		    display: inline-block;
		    margin: 0 5px;
		    border: 2px solid #2196F3;
		    & span {
		    	width: 6px;
			    height: 6px;
			    display: block;
			    border-radius: 50%;
			    margin: 2px 0 0 2px;
			    background-color: #2196F3;
			    opacity: 0;
			    filter: alpha(opacity=0);
			    -webkit-transition-duration: .28s;
			    transition-duration: .28s;
			    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
			    transition-timing-function: cubic-bezier(.4,0,.2,1);
			    -webkit-transition-property: -webkit-transform,-webkit-transform;
			    transition-property: transform,-webkit-transform;
			    -webkit-transform: scale3d(0,0,0);
			    transform: scale3d(0,0,0);
				}
		    }

	}

}