/* === menu-block === */

@import "base";
@font-color: #2196F3;
#topnav{
		position: fixed;
	    z-index: 3;
	    padding-top: 15px;
	    border: none;
	    border-radius: 0;
	    -webkit-transition-property: top,box-shadow,background-color;
	    transition-property: top,box-shadow,background-color;
	    -webkit-transition-duration: .25s;
	    transition-duration: .25s;
	}
.menu-block {
	    position: relative;
	    min-height: 50px;
	    margin-bottom: 20px;
	    border: 1px solid transparent;
		
}
