/* === menu-block === */
<<<<<<< HEAD
#topnav{
		position: fixed;
	    z-index: 3;
	    padding-top: 15px;
	    border: none;
	    border-radius: 0;
	    -webkit-transition-property: top,box-shadow,background-color;
	    transition-property: top,box-shadow,background-color;
	    -webkit-transition-duration: .25s;
	    transition-duration: .25s;
	}
.menu-block {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
	& 
=======
@font-color: #2196F3;
.menu-block {
>>>>>>> 496f4dbc4b39a92d03417943134c46df39893114
}