/* === portfolio-block === */
@import "base";
.portfolio-block {
	padding: 60px 0 100px;
	background-color: #fff;
	h2 {
		font-weight: 700;
		line-height: 48px;
	}
	p {
		margin-bottom: 70px;
	}
	.menu {
		margin-bottom: 70px;
		text-align: center;
	}
	.wrap {
		display: inline-block;
		margin: 0;
		padding: 0;
		border-radius: 2px;
		background-color: @color-main;
		list-style: none;
		text-align: center;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	}
	.menuitem {
		float: left;
		margin: 0 17px;
		padding: 19px 15px;
		border-bottom: 3px solid transparent;
		font: 500 13px @font-family;
		color: #fff;
		text-transform: uppercase;
		line-height: 16px;
		cursor: pointer;
		transition: .25s;
	}
	.active, .menuitem:hover {
		border-bottom: 3px solid #fff;
	}
	.box {}
	.boxitem {
		padding-bottom: 30px;
	}
	.rounded {
		border-radius: 2px;
	}
	.dh-container {
		position: relative;
		overflow: hidden;
		border-radius: 2px;
	}
	.dh-overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		background: rgba(48,48,48,.8);
	}
	.dh-child {
		position: absolute;
		top: 50%;
		margin-top: -28px;
		width: 100%;
		text-align: center;
		.detail {
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
		.image {
			cursor: pointer;
		}
		.image:hover i {
			border-color: @color-main;
			color: @color-main;
		}
		i {
			margin: 0 5px;
			padding: 16px;
			border: 2px solid #fff;
			border-radius: 50%;
			font-size: 20px;
			color: #fff;
			transition: .25s;
		}
	}
	.portfolio_detail {
		.modal-dialog {
			max-width: 726px;
			width: auto;
		}
		.close {
			position: absolute;
			top: -10px;
			right: -20px;
			font: 100 28px @font-family;
			color: #fff;
			opacity: 1;
			z-index: 39;
		}
		.popup {
			border-radius: 2px;
			overflow: hidden;
		}
		.popup_image img {
			width: 100%;
			border-width: 20px 20px 0;
			border-style: solid;
			border-color: #fff;
		}
		.popup_text {
			padding: 20px;
			width: 90%;
		}
		.popup_title {
			margin: 0 0 15px;
			padding-right: 36px;
			font: 500 24px @font-family;
			color: @color-main;
			text-transform: uppercase;
		}
		.popup_content {
			margin: 0 0 16px;
			font: 300 14px @font-family;
			color: rgba(0,0,0,.54);
			line-height: 22px;
		}
		.popup_action {
			padding: 8px;
			border-top: 1px solid rgba(0,0,0,.1);
		}
		.popup_action::after {
			content: "";
			display: table;
			clear: both;
		}
		.popup_link {
			float: left;
			margin-left: 6px;
		}
		.popup_link a {
			display: inline-block;
			padding: 0 16px;
			height: 36px;
			min-width: 64px;
			border-radius: 2px;
			background-color: @color-main;
			font: 300 14px@font-family;
			color: #fff;
			text-transform: uppercase;
			cursor: pointer;
			line-height: 36px;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
		}
		.popup_social {
			float: right;
			margin-right: 4px;
		}
		.popup_social ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		.popup_social li {
			display: inline-block;
			line-height: 24px;
		}
		.popup_social a {
			display: inline-block;
			height: 35px;
			min-width: 35px;
			border-radius: 50%;
			text-align: center;
			transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
		}
		.popup_social a:hover {
			background-color: rgba(158,158,158,.2);
		}
		.popup_social a:hover i {
			color: @color-main;
		}
		.popup_social i {
			font-size: 14px;
			color: @color-gray;
			line-height: 36px;
		}
	}
	@media (max-width: 479px) {
		.wrap {
			display: block;
		}
		.menuitem {
			float: none;
		}
	}
}