/* === subscribe-block === */
@import "base";
#subscribe{

	background-color: rgb(33, 150, 243);
	padding: 80px 0 100px;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	& h2{
		font-size: 45px;
		text-transform: uppercase;
		margin-top: 15px;
		font-weight: 500;
	}
	& h2, p{
    	color: #fff;
		margin-bottom: 15px;
	}
		
	& form.frm-main {
		text-align: center;
		margin: 0 auto;
	}

	& label{
		color: #fff;
		font-weight: 300;
		margin-bottom: 0;
		text-align: center;
		margin-top: -25px;
	}
	& .subscribe-frame{
		padding: 20px 0;
		
		& input.subscribe-input{
			border: none;
			border-color: #fff;
			color: #fff;
			outline: 0;
			padding: 4px 0;
			text-align: center;
			display: block;
			background: 0 0;
			width: 100%;
			border: 0;
			padding: 10px 5px;
			background: rgba(0,0,0,0) no-repeat;
			background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF ), linear-gradient(to bottom, silver, silver);
			background-size: 0 2px, 100% 1px;
			background-position: 50% 100%, 50% 100%;
			transition: background-size 0.15s cubic-bezier(0.64, 0.09, 0.08, 1);
		}
		& input:focus{
			background-size: 100% 2px, 100% 1px;
			outline: none;
		}

		& .subscribe-text{
			font-size: 16px;
		}

		& .subscribe-text:hover{
			cursor: auto;
		}

	}

	& .subscribe-buttom{
		background-color: #FFFFFF;
		color: @color-main;
	}

}